<div class="about-me">
  <div class="row about">
    <!-- <img src="https://vectr.com/eliseylenore/dMokfDVXJ.png?width=640&height=300&select=dMokfDVXJpage0" alt="Elise St Hilaire name tag"/> -->
    <h3>Elise St Hilaire</h3>

    <div class="col-md-1"></div>
    <div class="col-md-7">
      <img src="../../../assets/img/profilePic.jpg" alt="Elise St Hilaire" class="center-block profile-pic"/>

      <div class="about-text">
        <h4>Background</h4>
        <p style="text-align: justify">I graduated with a bachelor's degree in Illustration in 2013, and then worked for an online investing company. After three years of talking about the stock market all day, I decided it was time for a change. I enrolled in Epicodus, a 5-month programming bootcamp with a brand-new campus in Seattle. </p>
        <p>After graduating from Epicodus in July 2017 (with internship experience!), I have been honing my knowledge of data structures. Programming combines the skills I learned in those two very different environments. Coding lets me use the creativity I practiced when going to school, while also using the attention to detail I developed while in the financial industry.</p>
        <p>In my freetime, I still love to draw. For health I run, practice yoga, and play wiffle ball.</p>
      </div>
    </div>
    <div class="col-md-3">
      <h4>Top Skills</h4>
      <ul>
        <li>HTML5</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>CSS/Scss</li>
        <li>C#/.NET</li>
        <li>Angular</li>
      </ul>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
