@import '.././app.component';
/** mixins from app.component **/

.profile-pic {
  border-radius: 25%;
  margin-bottom: 5rem;
}

.about h3{
  font-family: $Pacifico;
  font-size: 5rem;
  margin: 5rem 0;
  text-align: center;
}

.about-text {
  margin-bottom: 5rem;
}

.contact-info a {
  display: block;
  padding: 0 0 0 35px;
  margin-bottom: 15px;
  min-height: 30px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

// .contact-info a.linkedin {
//   background-image: url("../../assets/img/linkedin.png");
// }
//
// .contact-info a.email {
//   background-image: url("../../assets/img/email.png");
// }
//
// .contact-info a.facebook {
//   background-image: url("../img/facebook.png");
// }
