@import '.././app.component';
/** mixins from app.component **/
.about-me, .project-detail {
  background-color: rgba(255, 255, 255, 0.75);
  min-height: 130vh;
  p, li {
    text-align: justify;
    color: $pine;
  }

  ul {
    list-style: none;
    padding-left: 0;
    font-weight: bold;
  }
  color: $dark-red;
  h4 {
    font-size:24px;
    font-weight: bold;
  }
  font-size: 20px;
}
.profile-pic {
  border-radius: 25%;
  margin-bottom: 4rem;
}

.about h3, .project-detail h3 {
  font-size: 5rem;
  margin: 3rem 0;
  text-align: center;
}

.about-text {
  margin-bottom: 5rem;
}

ol {
  padding-left: 20px;
}

@media screen and (min-width: 445px) {
  .profile-pic {
    float: left;
    margin-right: 25px;
    margin-bottom: 0;
  }
  .contact-info {
    margin-left: 25px;
  }
}
