<div class="row about-me">
            <!--body of about page-->
            <div class="row about">
                <!--title of about page-->
                <h3>About Me</h3>
            </div><!--title of about page-->
            <div class="row">
                <!--picture and .about-text-->
                <div class="col-md-4">
                    <!--pic-->
                    <img src="../../../assets/img/profilePic.jpg" alt="Elise St Hilaire" class="center-block profile-pic" />
                </div><!--pic-->
                <div class="col-md-8">
                    <!--text-->
                    <p class="about-text">I am <strong>so</strong> excited to learn programming at Epicodus!</p>
                    <h4>Background</h4>
                    <p class="about-text">I graduated with a bachelor's degree in Illustration in 2013, and then worked for an online investing company for almost three years. Programming combines the skills I learned in those two very different environments. Coding lets me use the creativity I practiced when going to school, while also using the attention to detail I developed while in the financial industry.</p>
                    <p class="about-text">In my freetime, I still love to draw. For health, I run and practice yoga. I grew up in the country, but now I'm turning into a true city girl.</p>
                    <p>Have questions for me? I would love to hear from you! Feel free to contact me here:</p>
                    <div class="contact-info">
                        <!--contact links-->
                        <a href="https://www.linkedin.com/in/elisesthilaire/" class="linkedin">linkedin.com/in/elisesthilaire/</a>
                        <a href="mailto:eliseylenore@gmail.com" class="email">eliseylenore@gmail.com</a>
                        <a href="#" class="facebook">I'm on facebook!</a>
                    </div><!--contact links-->
                </div><!--end text-->
            </div><!--pic and .about-text-->
        </div><!--body of intro page-->
