@import '.././app.component';
/** color mixins from app.component **/

/**** mixin for multiline ****/
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

/**** Regular scss ****/
h1 {
  color: $white;
  text-align: center;
  font-size: 60px;
}

.img {
  background-image: url('../../assets/img/Dress2Impress.png');
  position: relative;
 float: left;
 width:  100%;
 height: 300px;
 background-position: 50% 50%;
 background-repeat:   no-repeat;
 background-size:     contain;
}

.project-list {
  margin-top: 20px;
}

.panel-body {
  color: $pine;
  background-color: $tan;
}

.panel-default {
  border: none;
}

.panel-default, .panel-body {
  border-radius: 10px;
}

h3 {
  color: $white;
  font-family: $Pacifico;
  font-size: 5rem;
  margin: 3rem 0;
  text-align: center;
}
.truncate {
  @include multiLineEllipsis($lineHeight: 1.3em, $lineCount: 2, $bgColor: white);
}
