<div class="contact-info">
  <div class="">
      <h3>Contact</h3>
      <h4>Have questions for me? I would love to hear from you! Feel free to contact me here:</h4>
      <div>
        <a href="https://www.linkedin.com/in/elisesthilaire/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>&nbsp; linkedin.com/in/elisesthilaire/</a>
        <a href="mailto:eliseylenore@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; eliseylenore@gmail.com</a>
        <a href="https://www.facebook.com/eliseybob" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i>&nbsp; I'm on facebook!</a>
      </div>
    <app-contact-form class="col-md-6"></app-contact-form>
  </div>
</div>
