<div class="row contact-info">
  <div class="col-xs-12">
      <h3>Contact</h3>
      <h4>Have questions for me? I would love to hear from you! Feel free to contact me here:</h4>
      <div>
        <a href="https://www.linkedin.com/in/elisesthilaire/" target="_blank" class="linkedin">linkedin.com/in/elisesthilaire/</a>
        <a href="mailto:eliseylenore@gmail.com" target="_blank" class="email">eliseylenore@gmail.com</a>
        <a href="https://www.facebook.com/eliseybob" target="_blank" class="facebook">I'm on facebook!</a>
      </div>
    <app-contact-form></app-contact-form>
  </div>
</div>
