@import '.././app.component';
/** color mixins from app.component **/

@import '.././about/about.component';
/** contact styles from about.component **/


app-contact-form {
  margin-top: 50px;
}

h3 {
  @include title();
}

p, a, h4 {
  font-size: 20px;
  padding-top: 5px;
}

h4 {
  text-align: left;
}

.contact-info a {
  display: block;
  margin-bottom: 10px;
  min-height: 25px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
