@import '.././app.component';
/** mixins from app.component **/
@import '.././about/about.component';
/** project-detail styles from about.component **/

.project-detail img {
  margin: 10px auto;
  display: block;
  width: stretch;
}

h4 a {
  color: $dark-red;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.project-detail h3 {
  margin-bottom: 20px;
}

.text {
  margin-top: 50px;
}

.photo {
  height: 300px;
  background-position: top center;
  background-repeat: no-repeat;
}

.margin-above {
  margin-top: 50px;
  p {
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
}
