<div class="project-detail">
  <div class="row">
    <h3>
      {{(projectToDisplay | async)?.title}}
    </h3>
    <h4><a [href]='(projectToDisplay | async)?.url' target="_blank" >{{(projectToDisplay | async)?.url}}</a></h4>
    <!-- <div class="photo" [ngStyle]="{'background-image': 'url(' + (projectToDisplay | async)?.featuredPhoto[0].url + ')'}"> -->
      <img class="" [alt]="(projectToDisplay | async)?.featuredPhoto[0].alt" [src]="(projectToDisplay | async)?.featuredPhoto[0].url"/>
    <div class="col-md-1"></div>
    <div class="text col-md-10">
      <p *ngFor="let paragraph of (projectToDisplay | async)?.description">
        {{paragraph.text}}
      </p>
      <div class="margin-above" *ngFor="let image of (projectToDisplay | async)?.photos">
        <img [alt]="image.alt" [src]="image.url"/>
        <p>
          {{image.text}}
        </p>
      </div>
    </div>

    <div class="col-md-1"></div>
  </div>
</div>
