/**** Color mixins ****/

$bright-blue: #00b3e5;
$darker-blue: #0396bf;
$Pacifico: 'Pacifico', cursive;
$dark-red: #bd3c2e;
$light-red: #c45b51;
$dusty-pink: #d9aba3;
$tan: #eedbc0;
$pine: #586138;
$white: #ffffff;


body {
  color: white;
}
