/**** Color mixins ****/

$bright-blue: #00b3e5;
$darker-blue: #0396bf;
$dark-red: #bd3c2e;
$light-red: #c45b51;
$dusty-pink: #d9aba3;
$tan: #eedbc0;
$pine: #586138;
$white: #ffffff;
$golden: #ffcf4b;

@mixin title() {
  color: $white;
  font-size: 5rem;
  margin: 3rem 0;
  text-align: center;
}


body {
  color: white;
  background-color: indianred;
}
