<div class="top">
 <ul class="nav sidebar-nav">
   <li>
     <a routerLink="" class="home" [ngClass]='{"selected": this.url == ""}'>Home</a>
   </li>
   <li>
     <a class="work" [ngClass]="{'selected': this.url == '/projects'}" routerLink="projects">My Work</a>
   </li>
   <li  >
     <a class="about"  [ngClass]="{'selected': this.url == '/about'}" routerLink="about">About</a>
   </li>
   <li>
     <a class="contact" [ngClass]="{'selected': this.url == '/contact'}" routerLink="contact">Contact</a>
   </li>
 </ul>
</div>
