.nav {
  padding-right: 30px;
}

.top, .top a {
    color: white;
}
.top {
  background-color: #00b3e5;
  padding: 30px;
}

.top h3 {
  margin-left: 30px;
  margin-top: 10px;
  display: inline-block;
}
