@import '.././app.component';
$nav-padding: 20px;
/** mixins from app.component **/

.top, .top a {
    color: white;
}

.top a {
  font-size: 20px;
}

.top {
  background-color: $bright-blue;
  padding: $nav-padding;
}

.top h3 {
  font-size: 40px;
  font-variant: small-caps;
  text-align: center;
  margin-top: 0;
}

.navbar-nav {
  text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
}

@media screen and (min-width: 725px) {
  .navbar-nav {
    float: right;
    display: block;
    margin-right: $nav-padding;
  }

  .top h3 {
    float: left;
    margin-left: $nav-padding;
  }
}
