@import '.././app.component';
$nav-padding: 10px;
/** mixins from app.component **/

.top, .top a {
    text-align: center;
}

.top a {
  font-size: 20px;
  color: white;
  font-variant: small-caps;
}

.top {
  overflow: auto;
  padding: $nav-padding;
}

.top .title {
  font-size: 40px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  font-weight: bold;
  transition: all 0.25s ease-out;
}

@media screen and (min-width: 768px) {

  .nav > li > a {
    color: $dark-red;
    background-image: url("https://vectr.com/eliseylenore/bqoyC6Lvx.svg?width=377.95&height=377.95&select=bamzxcY40y");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    margin-bottom: 30px;
  }
  .sidebar-nav {
    padding-top: 120px;
  }

  .nav > li > a.work {
    padding: 40px;
    margin-top:20px;
  }

  .nav > li > a:hover {
     padding: 35px;
     margin-bottom: 10px;
   }

   .nav > li > a.work:hover {
     padding: 45px;
     margin-bottom: 20px;
   }

   .nav > li > a.work:hover {
     margin-bottom: 20px;
   }

  .top {
    height: 120vh;
    background-image: url("https://vectr.com/eliseylenore/bqoyC6Lvx.svg?width=1920&height=1080&select=bqoyC6Lvxpage0");
    background-position: center;
    background-size: cover;
  }
}
