@import '.././app.component';
/** mixins from app.component **/

.spiel h1 {
  font-size: 50px;
  padding-bottom: 1em;
}

.spiel h1, .photo-overlay h4 {
  font-family: $Pacifico;
}

.spiel, .about h3 {
  text-align: center;
}

.spaceholder {
  height: 50px;
}

@media screen and (min-width: 425px) {
  .spaceholder {
    height: 150px;
  }

  .spiel h1 {
    font-size: 72px;
  }

}
