.spiel h1 {
  font-size: 72px;
  padding-bottom: 1em;
}

.spiel h1,  .about-me h3, .photo-overlay h4 {
  font-family: 'Pacifico', cursive;
}

.spiel, .about h3 {
  text-align: center;
}

.spaceholder {
  height: 150px;
}
