@import '.././app.component';
/** mixins from app.component **/

img {
  display: block;
  margin: 30px auto;
  width: 100%;
}
h4 {
  color: white;
  font-size: 30px;
  text-align: center;
}

.spaceholder {
  height: 50px;
}

button {
  background: none;
  border: none;
}

@media screen and (min-width: 425px) {
  .spaceholder {
    height: 150px;
  }

  .spiel h1 {
    font-size: 72px;
  }

}
